<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/adm/InsForUser" method="post">

    用户编号:<input type="text" th:name="userId" th:value="${user.userId}" >
    用户名称:<input type="text" th:name="userName" th:value="${user.userName}" disabled="disabled">
    用户薪资:<input type="text" th:name="userSal" th:value="${user.userSal}" disabled="disabled">
    保险编号:<input type="text" th:name="insId" th:value="${user.insId}">
    <input type="submit" value="确认投保"/>
</form>
</body>
</html>