<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">详细</h1>
<table align="center" border="1px">
    <tr>
        <td>userId</td>
        <td>userName</td>
        <td>userPwd</td>
        <td>userRole</td>
        <td>userSal</td>
        <td>insId</td>
        <td>投保信息</td>

    </tr>
    <tr th:each="user : ${all}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userPwd}"></td>
        <td th:if="${user.userRole}==0" th:text="普通用户 "></td>
        <td th:text="${user.userSal}"></td>
        <td th:text="${user.insId}"></td>
        <td th:text="${user.userSal-insInfoById}<0?'工资充裕':'工资不足'"></td>

    </tr>
</table>
<a href="/adm/toAdmMain">
    <input type="button" value="返回主页面"/>
</a>
</body>
</html>