<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">薪资列表</h1>
<table align="center" border="1px">
    <tr>
        <td>userId</td>
        <td>userName</td>
        <td>userSal</td>
        <td>operate</td>

    </tr>
    <tr th:each="user : ${pageInfo.list}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userSal}"></td>
        <td>
            <a th:href="@{/adm/toEditUserSalById(userId = ${user.userId})}">修改薪资</a>
        </td>
    </tr>
</table>
<div style="text-align: center; margin-top: 50px;">
    <a th:href="@{/adm/findAllUserSal(start = 1)}">【首页】</a>
    <a th:href="@{/adm/findAllUserSal(start = ${pageInfo.pageNum - 1 })}">【上一页】</a>
    <a th:href="@{/adm/findAllUserSal(start = ${pageInfo.pageNum + 1 })}">【下一页】</a>
    <a th:href="@{/adm/findAllUserSal(start=${pageInfo.pages})}">【尾页】</a>
</div>
<a href="/adm/toAdmMain">
    <input type="button" value="返回主页面"/>
</a>
</body>
</html>